@media (min-width: 1300px) {

  .standard-information-row-container {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;

    .small-box {
      height: 120px;
      width: 380px;
    }
    .large-box {
      height: 200px;
      width: 380px;
    }
  }
}
