@import "@/style/main-colors";
.Obus1 {
  background-color: rgb(230, 35, 41);
}

.Obus2 {
  background-color: rgb(0, 110, 182);
}

.Obus4 {
  background-color: rgb(253, 203, 0);
}

.Obus7 {
  background-color: rgb(0, 162, 160);
}

.Obus12{
    background-color: rgb(187,224,221);
}
