@import './variables.scss';

body {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;

  // height: 100vh;
}

#dashboard {
  //https://webgradients.com/
  // background-image: linear-gradient(120deg, #faf4e1 0%, #eed8b2 100%);
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.page-header,
.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  margin: $standard-space 0;
}

.page-header > div {
  margin: 0 0.5rem;
}

.box {
  border-radius: $standard-border-radius;
  overflow: hidden;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.box-white {
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
}

.box-xs-wrapper {
}

.main-info-content {
  margin: 2% 0;
}

.main-info-icon-container {
  float: left;
  height: 2.5vh;
  width: 2.5vh;
  background-color: white;

  .info-icon {
    margin: 10%;
    height: 80%;
    width: 80%;
  }

  .info-icon-text {
    font-weight: 400;
    height: 100%;
    // width: 100%;
    font-size: $standard-title-big;
    line-height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// .main-info-icon {
//   float: left;
//   height: 3vh;
// }

.large-widget {
}

.main-info-header {
  height: 20%;
  // margin-bottom: 1.6%;

  // overflow: hidden;
}

.main-info-title {
  font-size: medium;
}

.main-box-body {
  height: 80%;
}

.main-info-header-medium {
  // display: inline-flex;
  font-size: 1.5em;
  //line-height: 3vh;
  margin-bottom: 1.6%;
  font-weight: 500;
  // overflow: hidden;
}

.main-info-title-big {
  font-size: 1.5rem;
}

.click-element:active {
  animation: bounce-in 0.5s;
}

@keyframes bounce-in {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  80% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.small-icon {
  height: 2vh;
  width: 2vh;
}

.hover-button {
  // height: 3vh;
  // width: 3vh;
  padding: 0.5vh;
  display: grid;
  place-items: center;
}

.hover-button:hover {
  //background-color: rgba(255, 255, 255, 0.55);
  background-color: rgb(255, 255, 255);
  //background-color: red;
  //backdrop-filter: blur(10px);
  border-width: 0;
  border-radius: 10px;
  border-style: solid;
  cursor: none;
}

.normal-button {
  background-color: rgb(255, 255, 255);
  border-width: 0;
  border-radius: 10x;
  border-style: solid;
  display: grid;
  place-items: center;
}

.title-1 {
  font-weight: bold;
  font-size: 2.8vh;
  height: 3vh;
  line-height: 3vh;
}

.title-2 {
  font-weight: bold;
  font-size: 1.9vh;
  height: 2.1vh;
  line-height: 2.1vh;
  margin-bottom: $standard-space;
}

.title-3 {
  font-weight: bold;
  font-size: 1.5vh;
  height: 1.5vh;
  line-height: 1.5vh;
  margin-bottom: $standard-space;
}

.click-element-hover:hover {
  background-color: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(10px);
  border-width: 0;
  border-radius: 10px;
  border-style: solid;
  cursor: none;
}

@mixin borderstyle {
}

.service-info {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.widget-regular-header{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}