@import "./main-colors.scss";


$standard-border-radius: 5px;
$standard-title-big: 80%;
$standard-title-medium: 60%;
$standard-text-medium: 1.7vh;

.basic-card {
    background-color: white;
    border-radius: 10px;
    border-color: rgb(243, 244, 254);
    border-width: 1px;
    border-style: solid;
    padding: 1vh;
    margin: 0 1.6%;
    margin-bottom: 1.6%;
  }
  .main-info-content{
    margin: 2% 0;
  }

  .main-info-icon-container {
    // border-radius: $standard-border-radius;
    // border-style: solid;
    // border-width: .1vh;
    float: left;
    height: 2.5vh;
    width: 2.5vh;
    background-color: $main-black-transparent;
    .info-icon{
      margin: 10%;
      height: 80%;
      width: 80%;
  }
    .info-icon-text{
      //TODO: box is 1px to much right
      // margin: 10%;
      font-weight: 400;
      height: 100%;
      // width: 100%;
      font-size: $standard-title-big;
      line-height: 80%;
      
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  

  //OLD
  .main-info-icon{
    float: left;
    height: 3vh;
  }


  .click-element.active {
    animation: bounce-in 0.5s;
  }
  
  @keyframes bounce-in {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.98);
    }
    100% {
      transform: scale(1.02);
    }
  }

  button {
    background-color: white;
    border-radius: 0.5vh;
    border-color: rgb(237, 238, 250);
    border-width: 1px;
    border-style: solid;
    color: $text-color;
    font-size: x-small;
    font-weight: 300;
    // height: 50%;
  }
  
  button:hover {
    background-color: $main-blue;
    color: white;
  }



  .small-icon{
    height: 2vh;
    width: 2vh;
  }