$text-color: #373737bd;
$main-black-transparent: #37373705;
$main-red: #53c66ebd;
$main-orange: #ffa384;
$main-blue: #e7f2f8;
$main-yellow: #efe7bc;
$main-green: #74bdcb;
$main-blue: #1976d2;
$main-background-color: rgb(252, 252, 252);