$text-color: rgb(71, 71, 71);
$main-gray: rgb(104, 104, 104);
$main-black: black;
$main-black-transparent: #9c9c9c1f;
$main-red: #bd312d;
$main-yellow-color: #FFE17D;
$main-yellow-color-2: #FFC350;  // a little darker
$main-orange: #ffa384;
$main-blue: #e7f2f8;
$main-orange: #fec165;
$main-orange-2:#fdb441; // a little darker
$main-green: #308e5a;


$main-blue: #1976d2;
$main-background-color: rgb(252, 252, 252);



:export {
    mainGreen: $main-green;
  }