// @media (min-width: 1184px) and(max-width: 1366px) {
body {
  .box-s {
    height: 120px;
    width: 320px;
  }
  .box-m {
    height: 200px;
    width: 320px;
  }
  .box-xs {
    height: 120px;
    width: 100px;
  }
}
// }
