// Font Style
$text-color: rgb(71, 71, 71);

$standard-title-big: 50px;
$standard-title-medium: 60%;

$standard-text-big: 22px;
$standard-text-medium: 15px;
$standard-text-small: 10px;

// Standard Colors
$gray: rgb(142, 142, 142);
$light-gray: rgb(238, 238, 240);
$white: rgb(250, 250, 250);
$white-smoke: rgb(245, 245, 245);
$black: black;
$red: #bd312d;
$yellow: #FFE17D;
$yellow-2: #FFC350;  // a little darker
$orange: #ffa384;
$orange-2:#fdb441; // a little darker
$green: #4a7277;
$grren-alt: #83c5be;
$blue: #007bffcc;

// Standard Design Parameter
$background-color: rgb(252, 252, 252);
$standard-border-radius: 10px;
$standard-space: 15px;


// export for using in scripts
:export {    
    mainBlue: $blue;
    mainGreen: $brown;
    mainYellow: $yellow;
    mainLightGray: $light-gray;
    mainGray: $gray;
    textColor: $text-color;
  }